<div class="abc" *ngFor="let movie of entry">
    <div class="row">
        <div class="col-10 mt-3 ">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src={{movie.image}} alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{movie.name}}</h4>
                        <p class="card-text">{{movie.name}}<br>{{movie.runtime}}<br>{{movie.runtime}}<br>{{movie.genre}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>